[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autogen-agentchat = "==0.4.0.dev2"
autogen-ext = "==0.4.0.dev2"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
